<h1>Show page</h1>

<p>Title: <%= @portfolio_item.title %></p>
<p>Subtitle: <%= @portfolio_item.subtitle %></p>
<p>Body: <%= @portfolio_item.body %></p>

<%= link_to "All Portfolios", portfolios_path %>